/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #282828;
  transition: 0.4s;
}

input, button {
  min-height: 30px;
  border-radius: 5px;
  padding: 5px;
  border: none;
}

button {
  width: 50px;
  margin: 3px;
} */

/* .error {
  color: rgb(248, 49, 49);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(46, 41%, 71%, 0.432);
  }
  button:hover {
    background-color: transparent;
    border: solid #000 1px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
