@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poltawski+Nowy:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.App {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b96b04c4;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFF;
  font-family: 'Poltawski Nowy', serif;
}

h1 {
  margin: 0 auto;
  text-shadow: 5px 5px 10px #0c0b0b;
  font-size: 3.5em;
}
h3 {
  margin: 10px;
  font-size: 1.8em;
  color: #333;
  font-family: 'Caveat', cursive;
  font-weight: 100;
  text-shadow: 5px 5px 10px #ffffff91;
}

.App-link {
  color: #1f1b1a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about {
  margin: 15px auto;
  padding: 15px;
  background-color: #f0eeebcc;
  width: 350px;
}
p.coming-soon {
  font-style: italic;
  font-size: .8em;
}

.search-container {
  display: inline;
}
.search-form {
  margin: 30px auto;
  display: grid;
  max-width: 300px;
}
input.search {
  margin: 8px;
  padding: 10px;
  font-family: 'Libre Baskerville', serif;
  color: #333;
  width: 250px;
  background-color: #f5c88dc0;
  border-style: none;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #333;
}
input.search:hover {
  background-color: #f0eeebcc;
  box-shadow: 10px 10px 10px #333;
}
input.search:focus {
  background-color: #f0eeebe8;
}
button {
  display: block;
  margin: 20px auto;
  width: 150px;
  padding: 7px;
  font-family: 'Libre Baskerville', serif;
  font-size:larger;
  font-weight: bold;
  color: white;
  background-color: #b96b04c4;
  border: none;
  border-radius: 15px;
}
button:hover {
  box-shadow: 5px 5px 10px #333;
  cursor: pointer;
  background-color: #e48408da;
}

button.location {
  width:fit-content;
  background-color: rgba(0, 128, 0, 0.76);
}
button.location:hover {
  background-color: rgba(128, 128, 128, 0.74);
  color:#333333cb;
  cursor:crosshair;
}